<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
{{ form_start(form)}}
    {{ form_widget(form)}}
{{ form_end(form)}}

{% if(formQuestion) %}
    {{ form_start(formQuestion)}}
        {{ form_widget(formQuestion)}}
    {{ form_end(formQuestion)}}
{% endif %}

</body>
</html>